<form action="{{ path('form_submit', {'name': active}) }}" method="POST" class="form-horizontal">
    <legend>Contact form</legend>

    <div class="control-group">
        <label class="control-label" for="nachname">name:</label>
        <div class="controls">
            <input name="name" value="" type="text">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="vorname">first name:</label>
        <div class="controls">
            <input name="first_name" value="" type="text">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="email">email:</label>
        <div class="controls">
            <input name="email" value="" type="text">
        </div>
    </div>

    <div class="control-group textarea">
        <label class="control-label" for="text"><strong>Your message:</strong></label>
        <div class="controls">
            <textarea rows="4" name="text">
            </textarea>
        </div>
    </div>
    <div class="control-group">
            <button type="submit" class="btn btn-primary">submit</button>
            <button type="reset" class="btn">reset</button>
    </div>
</form>
