{% extends '_base.html.twig' %}

{% block content %}
<h2>Welcome</h2>
<p>
    Soluta nobis eleifend option congue nihil imperdiet doming? At vero eros et 
    accumsan et iusto odio dignissim qui? Insitam est usus legentis in iis qui facit 
    eorum claritatem Investigationes? Exerci tation ullamcorper suscipit lobortis 
    nisl ut aliquip ex ea commodo consequat duis autem. Ut wisi enim ad minim veniam 
    quis nostrud vel eum iriure dolor in hendrerit. Decima eodem modo typi qui nunc 
    nobis videntur parum clari fiant sollemnes in. Zzril delenit augue duis dolore 
    te feugait nulla facilisi. Consuetudium lectorum mirum est notare quam littera 
    gothica quam nunc putamus parum.
</p>
{% endblock %}
